body {
    margin: 0;
    padding: 0;
    font-family:Poppins,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
    padding-top: 150px;
    transition: all 0.5s;
}
.dark-theme {
    background-color: black;
    color: #F5F5F5;
    .account-section #sign-in {
        color: #F5F5F5;
    }
    .mobile-menu{
        background-color: #333;
    }
    .form-container,.Questions-set,.single-comment{
        box-shadow: 0 4px 6px rgba(36, 36, 36, 0.9);
    }
    .login-Popup{
        box-shadow: 0 14px 28px rgba(36, 36, 36, 0.85), 0 10px 10px rgba(36, 36, 36, 0.82);
    }
    header,footer,.form-container,.single-comment,.Questions-set{
        background-color: #333;
        color: #fff;
    }
    .car-btn {
        background-color:#393939 ;
        color:#f0f0f0 ;
    }
    .Background-Topic::after{
        background: linear-gradient(to bottom, #333, rgba(255,255,255,0));
        
    }
    .contact {
        .form-container{
            background-color: black;
        }
    }
    .login-Popup {
        background-color: #333;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    color: #000000;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    transition: all .5s;
    height: 30px;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}
/* Account Section Styles */
.account-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

button {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s;
    margin: 5px;
}
#Learnbutton{
    padding: 10px 20px;
    border: 1px solid white;
    background-color: black;
    color: white;
}
#Learnbutton:hover{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    scale: 1.1;
}
#Learnbutton:active{
    scale: 1;
    background-color: #adb5bd;
}
#Bookbutton{
    border: none;
    background-color: #227A42;
    color: #F5F5F5;
    padding: 10px 20px;
}
#Bookbutton:hover{
    background-color: #30b862;
    scale: 1.1;
}
#Bookbutton:active{
    background-color: #227A42;
    scale: 1;
}
.account-section #sign-in {
    border: 3px solid #adb5bd ;
    background-color: transparent;
    
}
.account-section #sign-in:hover {
    border: none;
    scale: 1.1;
    background-color:#227A42;
    color: #F5F5F5;
}
.account-section #sign-in:active {
    scale: 1.0;
}


.logo img{
    width: 40px;
    margin: 0px 5px;
}
.wrap-check-44 input[type="checkbox"] {
    visibility: hidden;
    display: none;
}
.wrap-check-44{
    text-align: center;
    justify-content: center;
    object-fit: cover;
}
.wrap-check-44 *,
.wrap-check-44 ::after,
.wrap-check-44 ::before {
    box-sizing: border-box;

}

/* The switch - the box around the slider */
.wrap-check-44 .switch {
    font-size: 10px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;

}

.wrap-check-44 .switch i {
    font-size: 20px;
    position: absolute;
    top: 1px;
    right: 36px;
}

/* Hide default HTML checkbox */
.wrap-check-44 .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.wrap-check-44 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:
        #fff;
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 30px;
}

.wrap-check-44 .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color:
        #adb5bd;
    transition: .4s;
}

.wrap-check-44 input:checked+.slider {
    background-color:
        #227A42;
    border: 1px solid #227A42;
}

.wrap-check-44 input:focus+.slider {
    box-shadow: 0 0 1px #227A42;
}

.wrap-check-44 input:checked+.slider:before {
    transform: translateX(1.4em);
    background-color:
        #fff;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #227A42;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    /* Initially hide the button */
    transition: bottom 0.3s;
}

.back-to-top:hover {
    background-color: #227A42;
}


a {
    text-decoration: none;
    color: inherit;
    /* Ensure the link color inherits the text color */
}

.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}


.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1050px;
    height: 60vh;
    padding: 10px;
    h1,h6{
        margin: 5px;
    }
    p{
        font-size: 13px;
    }
}

.left-hand-side {
    flex: 1;
}

.right-hand-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    
    padding: 0px 10px;
    width: fit-content;
    font-size: 10px;
}
.navbar {
    display: flex;
    margin: 0 10px;
}

.navbar h1 {
    font-size: 15px;
    padding: 10px;
    color: #7fcf9c;
    position: relative;
    margin: 0 10px;
    /* Add spacing between the h1 elements */
    cursor: pointer;
}

.navbar h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #227A42;
    transition: width 0.3s ease;
    /* Animation effect */
}

.navbar h1:hover::after {
    width: 100%;
}

.navbar-mobile {
    display: none;
    position: absolute;
    top: 8px;
    left: 30px;
}

.hamburger {
    font-size: 30px;
}

.mobile-menu {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Ensures the items are stacked vertically */
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: #f0f0f0;
    position: fixed; /* Ensures the menu covers the entire screen */
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

.mobile-menu.show {
    transform: translateX(0);
}

.mobile-menu.hide {
    transform: translateX(-100%);
}
.close-button{
    position: absolute;
    top:20px;
    right:20px;
    font-size:30px;
}
.close-Section{
    position: absolute; /* Position absolutely within the popup */
    top: 5px; /* Adjust top position from the edge */
    right: 14px; /* Adjust right position from the edge */
    cursor: pointer; /* Indicate clickable behavior */
    font-size: 30px;
    z-index: 2001;
}
.mobile-menu h1{

    font-size: 18px;
    color: #227A42;
}

.mobile-menu a {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #7fcf9c;
    font-weight: bold;
    color: #7fcf9c;
    width: 100%; /* Ensures the links take full width */
    display: block; /* Ensures the links behave as block elements */
    cursor: pointer;
}
.form-container {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 10px auto 100px auto;
    transition: all 0.3s;
    background-color: #f0f0f0;
    max-width: 1000px;
    h2{
        font-weight: bold;
        font-size: 30px;
    }
    .form-group{
        width: 300px;
        margin: 10px 0px ;
    }
}

.form-Gap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    
}

.form-group label{
    font-size: small;
}
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 12px;
    color: #333;
}
.form-group input {
    width: 93%;
    padding: 10px;
    margin: 0px ;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 12px;
    color: #333;
}

.searchbutton {
    width: 300px;
    margin: 20px 0px 10px;
    background-color: #227A42;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.searchbutton:hover {
    background-color: #30b862;
    scale: 1.05;
}

.searchbutton:active {
    background-color: #227A42;
    scale: 1;
}

.trip {
    text-align: center;
    margin: 100px auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    h5{
        margin:0px ;
    }
    h1 {
        margin: 20px 0px 40px 0px;
    }
}

.steps {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    gap: 30px;
}

.single-step {
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.image-preview {
    margin-bottom: 20px;
}

.image-preview img {
    width: 180px;
    object-fit: cover;
}

.single-step p {
    font-size: 13px;
    line-height: 1.5;
}

.services {
    text-align: center;
    margin: 140px 20px 0px 20px;
    h5{
        margin:0px ;
    }
    h1 {
        margin: 20px 0px;
    }
    p {
        font-size: 13px;
        margin-bottom: 40px;
    }
}

.preview-cars {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 1000px;
    margin: auto;
}

.cars-switch {
    flex: 1;
    max-width: 250px;
}

.car-btn {
    display: block;
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-align: left;
    background-color: #f0f0f0;
    color: #000000;
}

.car-btn:hover {
    background: #7fcf9c;
}

.car-btn.active {
    background: #188540;
    color: #fff;
}

.Image-Car-On {
    flex: 1;
    max-width: 500px;
    max-height: auto;
    text-align: center;
    margin: 30px 0px;
}

.Image-Car-On img {
    width: 100%;
    max-height: 400px;
}

.Table-infos {
    flex: 1;
    max-width: 250px;
}

#car-info {
    text-align: center;
}

.price {
    font-size: 24px;
    background-color: #188540;
    color:white;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.reserve-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background: #188540;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}

.reserve-btn:hover {
    background: #1a6836;
}

.annoncement{
    background-color: #2d2d2d;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 10px 0px;
    margin: 30px 0px;
    h1{
        font-weight: bold;
        margin-bottom: 0px;
    }
    h3{
        margin-top: 0px;
    }
}
.warning{
    background-color: #a80202;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    top: 20px;
    z-index: -3;
    text-align: center;
    padding: 10px 0px;
    margin: 30px 0px;
    h1{
        font-weight: bold;
        margin-bottom: 0px;
    }
    h3{
        margin-top: 0px;
    }
}

.disclamer{
    background-image: url(https://i.ibb.co/Ms4X9zy/mers.jpg);
    background-size: cover; /* Ensure the image covers the entire div */
    background-position: center; 
    width: 100%;
    height: fit-content;
    color: white;
    text-align: center;
    padding: 10px 0px;
    margin: 30px 0px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
}
.about img {
    max-width: 100%;
    margin-right: 50px;
}

.about #TopImage {
    max-width: 1500px;
    margin-right: 50px;
}

.Advantages {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.Why-Us {
    margin-bottom: 30px;
    max-width: 1000px;
    padding: 20px;
}



.Why-Us h2 {
    font-size: 36px;
    max-width: 500px;
}

.Why-Us p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 500px;
    
}

#Findbutton {
    background-color: #188540;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#Findbutton:hover{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    scale: 1.1;
}

.oportunitys {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

.single-oportunity {
    display: flex;
    align-items: center;
    padding: 5px;
    max-width: 500px;
    margin: 0px;
}

.single-oportunity img {
    width: 130px;
    object-fit: cover;
    margin: 0px 15px;
}

.description h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.description p {
    font-size: 16px;
    line-height: 1.4;
}

.review {
    padding: 50px 15px;
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

h4,h5,h6 {
    font-size: 24px;
}

.review h2 {
    font-size: 36px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.Comments{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.single-comment {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: left;
    width: 300px;
    background-color: #f0f0f0;
    height: fit-content;
    transition:  .3s all ;
}

.single-comment p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.single-comment div {
    display: flex;
    align-items: center;
    margin-top: 5px;
    div{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}

.single-comment img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.single-comment h5 {
    color: #188540;
    margin: 0;
}

.single-comment p:last-of-type {
    font-size: 14px;
    margin: 0;
}

.fa-quote-right {
    margin-left: auto;
    font-size: 34px;
}

.faq {
    max-width: 950px;
    text-align: center;
    margin: 100px auto;
}

.Questions-set {
    width: 75%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
}

.single-Question {
    border-bottom: 1px solid #ddd;
    margin: 10px;
    padding: 10px 0px;
}

.single-Question .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.single-Question .question .paragraph {
    font-size: 16px;
}

.single-Question .question .fleche {
    font-size: 18px;
    color: #188540;
}

.single-Question .answer {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.6;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, padding 0.4s ease-out;
}

.single-Question.active .answer {
    max-height: 1000px; /* Adjust based on the content size */
    padding: 10px;
}



.single-Question.active .question {
    background-color: #188540;
    color: white;
    .fleche{
        color: white;
    }
}

.App-download {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    max-width: 1050px;
    margin: 100px auto;
}

.talk-side {
    flex: 1;
    padding: 20px;
}

.show-side {
    flex: 0.5;
    display: flex;
}

.GooglePlay-AppStore img {
    margin-right: 10px;
    cursor: pointer;
}

.show-side img {
    margin: auto;
}


.footer {
    background-color: #f0f0f0;
    color: #000000;
    padding: 40px 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s all;
}
.footer-info{
    display: flex;
    flex-direction: row;
}

.Info-contact, .Work, .Subscription {
    flex: 1;
    margin: 10px;
    padding: 20px;
}

.phone, .email ,.location{
    display: flex;
    align-items: center;
    margin: 2px 0;
}

.phone:hover, .email:hover,.design:hover ,.location:hover{
    color: #30b862;
    cursor: pointer;
    transition: all .3s;
}

.phone i, .email i ,.location i{
    margin-right: 10px;
}

.phone p, .email p ,.location p{
    margin: 0;
}

.footer p {
    font-size: 0.9em;
    margin: 0;
    text-align: left;
}

.input-field {
    position: relative;
    width: 100%;
    line-height: 44px;
    margin: 20px 0px;
    z-index: 0;
}

.inpt {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s, background-color 0.3s;
    margin: auto;
}

.inpt:invalid{
    outline: 0;
    color: #ff2300;
    border-color: #ff2300;
}

.inpt:valid {
  border-color: #00dd22;
}
.inpt:focus {
    border-color: #188540;
    outline: none;
    background-color: #e6f7ff;
}

.lbl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 5px;
    font-size: 16px;
    color: #d3d3d3;
    font-weight: bold;
    transition: all 0.3s;
    transition: 0.2s all;
    cursor: text;
}

.inpt:focus~.lbl {
  font-size: 14px;
  top: -30px;
  color: #188540;
}
.inpt:valid~.lbl {
    color: #00dd22;
    font-size: 14px;
    top: -30px;
}

.submit-btn {
    width: 150px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #188540;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.submit-btn:hover {
    background-color: #1d753d;
    scale: 1.1;
}

.Background-Topic {
    width: 100%;
    height: 200px;
    margin-top: -120px;
    background-image: url('/Images/porsh.jpg'); /* Set the image as background */
    background-size: cover; /* Ensure the image covers the entire div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent background repetition */
    overflow: hidden; /* Prevent overflow */
    z-index: -2;
    box-sizing: border-box; /* Ensure padding does not affect overall width */
    position: relative; /* Added to position ::after correctly */
}

.Background-Topic::after {
    position: absolute;
    top: 0; /* Adjusted to align correctly with Background-Topic */
    width: 100%;
    height: 100px;
    content: '';
    left: 0;
    background: linear-gradient(to bottom, #f0f0f0, rgba(255,255,255,0));
    z-index: -1; /* Lower than .Topic */
    transition: .3s all;
}

/* Container for the topic */
.Topic {
    position: absolute; /* Ensure correct positioning */
    z-index: 1; /* Higher than .Background-Topic and its ::after pseudo-element */
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    text-align: left;
    margin: auto;
    padding: 20px;
    color: white;
}

.about-us {
    display: flex;
    flex-direction:row ;
    max-width: 1000px;
    margin: 130px auto;
    padding: 100px 20px;
    box-sizing: border-box;
    gap: 25px;
}
.right-side{
    width: 100%;
}
.right-side img{
    width: 500px
}
.left-side p{
    margin-bottom:10px ;
}

.positivitys {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
}

.single-positive {
    flex: 1;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.single-positive i {
    font-size: 45px;
    margin-top: 6px;
}


.statistique h1 {
    font-size: 2em;
    margin: 0;
}

.statistique p {
    font-size: 1em;
    margin: 0;
}
.contact-wraper{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 100px auto;
    h4{
        margin-bottom: 0;
    }
}

.contact {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 1000px;
    margin: 0px auto;
    padding: 20px;
    text-align: left;
    .form-container{
        margin: 0;
        background-color: white;
    }
}

.informations-contact h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.informations-contact p {
    margin-bottom: 20px;
    line-height: 1.6;
    padding: 20px;
}

.login-Popup {
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    width: 800px;
    max-width: 100%;
    min-height: 480px;
    display: flex;
    background-color: #f0f0f0;
    transition: all .3s;
    z-index: 2000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px); /* Apply blur effect to the overlay */
    z-index: 9; /* Ensure the overlay is above other content */
}

/* Forms */
#SignUpForm, #SignInForm {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Social Container */
.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 2px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.social-container a:hover {
    color: #188540;
    border-color: #188540;
}

/* Login Inputs */
.LoginInput {
    background: #eee;
    border: none;
    border-radius: 10px;
    padding: 10px 12px;
    margin: 8px 0;
    width: 100%;
}

/* Buttons */
#SignUpFormButton, #SignInFormButton, #SignInPanelButton, #SignUpPanelButton {
    border-radius: 20px;
    border: 1px solid white;
    background: #188540;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

#SignUpFormButton:active, #SignInFormButton:active, #SignInPanelButton:active, #SignUpPanelButton:active {
    transform: scale(0.95);
}

#SignUpFormButton.ghost, #SignInFormButton.ghost, #SignInPanelButton.ghost, #SignUpPanelButton.ghost {
    background: transparent;
    border-color: #ffffff;
}

/* Panels */
.direct-sign-in, .direct-sign-up {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #188540;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.6s ease-in-out;
}

.direct-sign-in p, .direct-sign-up p {
    font-size: 14px;
}

.direct-sign-in {
    left: 0;
    transform: translateX(0%);
}

.direct-sign-up {
    right: 0;
    transform: translateX(100%);
}

.login-Popup.right-panel-active .direct-sign-in {
    transform: translateX(100%);
}

.login-Popup.right-panel-active .direct-sign-up {
    transform: translateX(0%);
}

.sign-up-container, .sign-in-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    transition: transform 0.6s ease-in-out;
}

.sign-up-container {
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    z-index: 1;
}

.login-Popup.right-panel-active .sign-up-container {
    transform: translateX(0);
    opacity: 1;
    z-index: 5;
}

.sign-in-container {
    right: 0;
    transform: translateX(0);
    opacity: 1;
    z-index: 5;
}
.sign-in-container a{
    transition: all .3s;
}
.sign-in-container a:hover{
    color: #188540
}

.login-Popup.right-panel-active .sign-in-container {
    transform: translateX(100%);
    opacity: 0;
    z-index: 1;
}
.hidden{
    display: none;
}
/*.cars-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin: 200px auto;
}

.set-of-cars {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.single-car {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.single-car:hover {
    transform: scale(1.01);
}

.single-car img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.info-car {
    padding: 20px;
}

.Important-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.Important-info .rating h1 {
    font-size: 24px;
    margin: 0;
}

.Important-info .stars {
    display: flex;
}

.Important-info .pricing h1 {
    font-size: 24px;
    color: #188540;
    margin: 0;
}

.Important-info .pricing p {
    margin: 0;
    font-size: 14px;
}

.secondary-info {
    display: flex;
    justify-content: space-between;
    font-size:25px ;
}

.model-trans, .doors-fuel {
    display: flex;
    flex-direction: column;
    i,p{
        margin: auto 5px;
    }
    
}
.model-trans{
    text-align: center;
}

.model-trans div, .doors-fuel div {
    display: flex;
}
.model,.trans ,.doors,.fuel{
    margin: 10px 0px;
}
.doors p{
    margin:0px 15px 0px ;
}


#RideButton {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #188540;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

#RideButton:hover {
    background-color: #1a6836;
}
*/

/* Media Query for Smaller Screens */
@media only screen and (max-width: 1030px) {
    .navbar {
        display: none;
    }

    .navbar-mobile {
        display: flex;
    }

    .account-section {
        display: none;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    .home {
        flex-direction: column-reverse;
        text-align: center;
        height: auto;
        /* Adjust height as needed for smaller screens */
    }
    
    .about-us{
        flex-direction: column;
        padding:  0 5%;
        
    }

    .logo{
        justify-content: center;
        text-align: center;
        position: absolute;
    }

    .wrap-check-44{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .Advantages{
        flex-direction: column;
    }
    .single-oportunity{
        flex-direction: column;
    }
    .about img {
        margin: auto;
    }
    
    .about #TopImage {
        width: 100%;
        margin: auto;
    }
    .right-side img{
        width: 100%;
    }
    
    
}
@media only screen and (max-width: 1265px) {
    .account-section .button-text {
        display: none;
    }

    .container {
        gap: 20px;
    }
    
}
@media only screen and (max-width: 960px) {
    
    .App-download{
        flex-direction: column-reverse;
    }
    .talk-side{
        text-align: center;
        width: 100%;
    }
    .right-hand-side,
    .left-hand-side {
        padding: 10px;
    }

    .home {
        img{
            width: 80vw;
        }
    }

    .form-group select {
        width: 100%;
        
    }

    .form-group input {
        width: 91%;
        
    }
    .footer h3  {
        text-align: center;
    }
    
}
@media only screen and (max-width: 850px) {
    .preview-cars {
        flex-direction: column;
        width: 100%;
    }
    .cars-switch {
        width: 100%;
    }
    .Table-infos {
        width: 100%;
    
    }
    .Comments{
        flex-direction: column;
    }
    .contact{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0;
    }
    .single-comment {
        margin: auto;
        width: 90%;
    }
    .Questions-set{
        width: 90%;
    }
    .footer-info{
        flex-direction: column;
    }
    .Message-infos{
        text-align: center;
    }
    .Topic {
        width:90%;
    }

}
@media only screen and (max-width: 800px) {
    .login-Popup {
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
    }

    .sign-up-container, .sign-in-container, .direct-sign-in, .direct-sign-up {
        width: 100%;
        height: 50%;
    }
    .sign-in-container ,.sign-up-container{
        h2{
            margin: 0px;
        }
    }

    .direct-sign-in, .direct-sign-up {
        height: 50%;
        width: 100%;
    }

    .direct-sign-in {
        top: 0;
        left: 0;
        transform: translateY(100%);
    }

    .direct-sign-up {
        bottom: 0;
        right: 0;
        transform: translateY(200%);
    }

    .login-Popup.right-panel-active .direct-sign-in {
        transform: translateY(200%);
    }

    .login-Popup.right-panel-active .direct-sign-up {
        transform: translateY(0%);
    }

    .sign-up-container {
        top: 100%;
        left: 0;
        transform: translateY(0);
    }

    .login-Popup.right-panel-active .sign-up-container {
        transform: translateY(-100%);
    }

    .sign-in-container {
        transform: translateY(0);
    }

    .login-Popup.right-panel-active .sign-in-container {
        transform: translateY(100%);
    }
    .close-Section{
        top: 20px; /* Adjust top position from the edge */
        right: 20px; /* Adjust right position from the edge */
    }
}
@media only screen and (max-width: 800px) and (max-height: 800px) {
    .login-Popup {
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
    }

    .sign-up-container, .sign-in-container {
        width: 100%;
        height: 70%;
    }

    .direct-sign-in, .direct-sign-up {
        width: 100%;
        height: 30%;
        p{
            margin: 5px;
        }
    }

    .direct-sign-in {
        top: 0;
        left: 0;
        transform: translateY(70vh);
        
    }

    .direct-sign-up {
        bottom: 0;
        right: 0;
        transform: translateY(-30vh);
    }

    .login-Popup.right-panel-active .direct-sign-in {
        transform: translateY(-30vh);
    }

    .login-Popup.right-panel-active .direct-sign-up {
        transform: translateY(0vh);
    }

    .sign-up-container {
        top: 70%;
        left: 0;
        transform: translateY(-70vh);
    }

    .login-Popup.right-panel-active .sign-up-container {
        transform: translateY(-40vh);
    }

    .sign-in-container {
        transform: translateY(0);
    }

    .login-Popup.right-panel-active .sign-in-container {
        transform: translateY(100vh);
    }
}

/* @media screen and (max-width: 600px) {
    .Topic {
        text-align: center;
    }
} */
@media only screen and (max-width: 550px) {
    .Advantages{
        width: 100vw;
    }
}

@media only screen and (max-width: 890px) {
    footer{
        flex-direction: column;
    }
}


